@import '~vue-material/dist/vue-material.min.css';

@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
  theme: dark // This can be dark or light
));

@import "~vue-material/dist/theme/all"; // Apply the theme


#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}